.right-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.right-container-nav-bar {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: small;
  font-weight: bold;
}

.right-container-data-box {
  flex: 12;
  display: flex;
}

.nav-bar-tabs {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  margin-top: 10px;
}

.nav-bar-metric {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
  align-items: center;
}

.today {
  margin-right: 10px;
  color: #c5c5c5;
}

.today-active {
  color: black;
}

.week {
  color: #c5c5c5;
}

.week-active {
  color: black;
}

.today:hover {
  color: black;
  cursor: pointer;
}

.week:hover {
  color: black;
  cursor: pointer;
}

.underline {
  width: 50px;
  height: 2px;
  background-color: black;
  margin-top: 1.2em;
}

.underline-today {
  transform: translate3d(-180%, 0, 0);
  transition: 100ms;
}

.underline-week {
  transform: translate3d(-85%, 0, 0);
  transition: 100ms;
}

.celsius {
  border-radius: 500px;
  padding: 5px 7px;
  color: black;
  background-color: white;
  font-weight: bolder;
  margin-right: 10px;
}

.celsius:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

.celsius-active {
  color: white;
  background-color: black;
}

.fahrenheit {
  border-radius: 500px;
  padding: 5px 7px;
  color: black;
  background-color: white;
  font-weight: bolder;
  margin-left: 10px;
  margin-right: 10px;
}

.fahrenheit:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

.fahrenheit-active {
  color: white;
  background-color: black;
}

.profile-image img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
}
