<div class="right-container">
  <div class="right-container-nav-bar">
    <div class="nav-bar-tabs">
      <div
        class="today"
        (click)="onTodayClick()"
        [className]="today == true ? 'today today-active' : 'today'"
      >
        Today
      </div>
      <div
        class="week"
        (click)="onWeekClick()"
        [className]="week == true ? 'week week-active' : 'week'"
      >
        Week
      </div>
      <div
        class="underline"
        [className]="
          today == true
            ? 'underline underline-today'
            : 'underline underline-week'
        "
      ></div>
    </div>

    <div class="nav-bar-metric">
      <div class="celsius">°C</div>
      <div class="fahrenheit">°F</div>
      <div class="profile-image">
        <img
          src="https://cdn-icons-png.flaticon.com/128/3135/3135789.png"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="right-container-data-box"></div>
</div>
